<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
</head>

<body>
    <header>
        <nav id="optionsNav">
            <ul>
                <li><a href="">Projects</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section id="infoSection">

            <article id="descriptionArticle">
                <div id="greetingsDiv">
                    <p>
                        👋 Hi!
                    </p>
                </div>
                <div id="littleDescriptionDiv">
                    <h1>Daniel Barrantes</h1>
                    <p>> Software Developer</p>
                </div>
                <Figure id="socialMediaFigure">
                    <a href="https://www.linkedin.com/in/daniel-barrantes-ab6203168/"><img src="assets/img/linkedin.png" alt="Linkedin"></a>
                    <a href="https://github.com/D240021"><img src="assets/img/git.png" alt="GitHub"></a>
                </Figure>

            </article>

            <figure id="imageFigure">
                <img src="assets/img/avatar.png" alt="Avatar">
            </figure>

            <section id="sectionCV">
                <button>CV <img src="assets/img/download.png" alt=""></button>
            </section>

        </section>
    </main>
</body>

</html>